<div class="p-col-12 p-m-0 p-p-2">
    <button pButton pRipple type="button" label="Regresar" icon="pi pi-angle-left" (click)="goToHome()"
        class="p-button-rounded p-mt-3 p-ml-3 p-mr-3 p-mb-0"></button>
    <div class="p-col-12 p-grid p-m-0 p-p-0 p-jc-center">
        <div class="p-p-3 resourse-section">
            <img [src]="resourse" alt="Detalles de una imagen" *ngIf="data['AVAIL:MediaType'] === mediaType.IMAGE">
            <video [src]="resourse" controls *ngIf="data['AVAIL:MediaType'] === mediaType.VIDEO"></video>
        </div>
        <div class="p-col p-p-3 information-section">
            <div class="information p-p-3">
                <p class="p-mt-0 p-mb-3 title">{{data['AVAIL:Title'] | uppercase}}</p>
                <p class="p-mt-0 p-mb-3">{{data['AVAIL:Description']}}</p>
                <span class="p-d-flex p-ai-center p-mb-3" *ngIf="data['AVAIL:Center']">
                    <p class="p-m-0 p-pr-3">Center:</p>
                    <p-tag styleClass="mr-2" [value]="data['AVAIL:Center']"></p-tag>
                </span>
                <span class="p-d-flex p-ai-center p-mb-3" *ngIf="data['AVAIL:NASAID']">
                    <p class="p-m-0 p-pr-3">NASA ID:</p>
                    <p-tag styleClass="mr-2" [value]="data['AVAIL:NASAID']"></p-tag>
                </span>
                <span class="p-d-flex p-ai-center" *ngIf="data['AVAIL:DateCreated']">1
                    <p class="p-m-0 p-pr-3">Date Created:</p>
                    <p-tag styleClass="mr-2" [value]="data['AVAIL:DateCreated']"></p-tag>
                </span>
            </div>
        </div>
    </div>
</div>